@import url(fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
}
@media(min-width: 1920px){
    .container{
        max-width: 1833px !important;
        margin: 0;
    }
}
:root{
    --main-color:#752793;
    --second-color: #EA1B24;
    --m-r: 'Montserrat-Regular';
    --m-m: 'Montserrat-Medium';
    --m-b: 'Montserrat-Bold';

}
/* ICONS */
.header__location-icon::after{
    content: '\f3c5';
    font-size: 37px;
}
.header__number-icon::after{
    content: '\f879';
    font-size: 37px;
}
.header__email-icon::after{
    content: '\f0e0';
    font-size: 37px;
}
.header__input-icon::after{
    content: '\f002';
    font-size: 24px;
}
/* ICONS END */





/* HOVERS */
.header__contacts-location:hover,
.header__contacts-number:hover,
.header__contacts-email:hover{
    color: #000 !important;
}

.header__navbar-item:hover{
    color: var(--main-color);
}

.header__button-link:hover{
    color: var(--main-color);
    background-color: #FFFFFF;
}

/* HOVERS END */






/* HEADER */
.header__prenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header__prenav-content{
    display: flex;
}
.header__prenav-contacts{
    display: flex;
    justify-content: space-evenly;
}
.header__prenav-lang{
    max-width: 118px;
    width: 100%;
}
.header__contacts-location,
.header__contacts-number,
.header__contacts-email{
    font-family: var(--m-r);
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
}
.header__content-slider-item{
    width: 1980px;
    height: 900px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.header__content-slider-item:nth-of-type(1){
    background: url(../images/Колесо\ обозрения23\ 1.png);
}
.header__content-slider-item:nth-of-type(2){
    background: url(../images/124612-ferris-wheel-amusement-park-night-dark-hd-5k\ 1.png);
}
.header__location-icon,
.header__number-icon,
.header__email-icon{
    color: var(--main-color);
    margin-right: 9px;
    margin-top: 5px;
}
.header__contacts-number:nth-of-type(2){
    margin: 0 59px;
}
.header__prenav-input{
    border: 0;

}
.header__prenav-search{
    display: flex;
    border: 2px solid #752793;
    border-radius: 19px;
    height: 38px;
    width: 296px;
    outline: none;
    margin-right: 81px;
}
.header__prenav-input:focus{
    border: 0;
    outline: none;
}
.header__input-icon{
    margin: 0 15px;
    color: var(--main-color);
}
.header__lang-button {
    color: var(--main-color);
    font-family: var(--m-b);
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.header__prenav-lang{
    margin: 0;
}
.separator{
    color: var(--main-color);
    font-family: var(--m-b);
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.header__content-content{
    display: flex;
    justify-content: space-between;
    z-index: 999;
    width: 100%;
}
.header__content-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar-list{
    display: flex;
    margin: 0;
}

.header__navbar-item{
    transition: 0.5s;
    font-family: var(--m-r);
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 17px;
}
.header__button-link{
    padding: 17px 45px;
    color: #ffffff;
    background-color: #EA1B24;
    font-family: var(--m-b);
    line-height: 24px;
    font-size: 20px;
    border-radius: 30.5px;
    transition: 0.5s;
    margin-left: 67px;
}
.header__carousel-title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    text-align: center;
    width: 100%;
    min-height: 100%;
    font-family: var(--m-b);
    font-size: 100px;
    line-height: 122px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.header__shape-img{
    position: absolute;
    top: -170px;
    max-width: 100%;
    width: 100%;
}
.header__worktime-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    min-height: 100%;
    z-index: 6;
}
.header__worktime{
    font-family: var(--m-b);
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: var(--main-color);
    box-shadow: 2px var(--main-color);
    padding: 31px 126px;
    border-radius: 47px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    
}
.header__worktime-icon::after{
    content: '\f1da';
    
}
.header__worktime-icon{
    font-size: 49px;
    margin-right: 47px;
    text-align: center;
    padding-top: 4px;
    display: inline-block;
    /* transform: rotate(120deg); */
}
.header__shape-rocket{
    position: absolute;
    bottom: 20px;
    z-index: 6;
}

.header__shape{
    min-height: 210px;
    height: 100%;
}

/* HEADER - END */
/* MAIN - START */
.main__about-title,
.main__funs-title,
.main__attractions-title,
.main__news-title,
.main__partners-title{
    margin-top: 124px;
    text-align: center;
    color: var(--second-color);
    font-family: var(--m-b);
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 37px;
}
.main__about{
    padding-bottom: 92px;
}
.main__about-shape1,
.main__about-shape2 {
    z-index: -1;
}
.main__about-shape1{
    top: -40px;
    left: 126px;
}
.main__about-shape2{
    bottom: -35px;
    left: 35px;
}
.main__about-info{
    margin-top: 86.5px;
    align-items: center;
}
.main__about-video-video{
    border-radius: 46px;
    max-width: 736.42px;
    width: 100%;
    height: 435.24px;
}
.main__about-text-content{
    font-family: var(--m-r);
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    text-transform: capitalize;
    max-width: 510px;
    width: 100%;
    margin-left: 48px;
}
.main__about-content{
    position: relative;
}
.main__about-shapepose{
    position: absolute;
    right: 0;
    top: 0px;
}
.main__funs-slider-prev{
    width: 35px !important;
    left: 20px !important;
    opacity: 1 !important;
}
.main__funs-slider-next, .main__funs-slider-prev{
    top: 120px !important;
}
.carousel__control-next{
    width: 35px !important;
    right: -240px !important;
    opacity: 1 !important;
}
.main__funs-img{
    margin-top: 107px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-size: cover;
    z-index: 999;
}
.main__funs-title{
    margin-bottom: 0 !important;
    margin-top: 109px;
}
.main__funs-carousel-item{
    min-height: 537px;
    height: 100%;
    border-radius: 44px;
    max-width: 1571px;
    width: 100% !important;
    margin-top: 107px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex !important;
    flex-direction: column;
    justify-content: end;
    padding-left: 96px;
    padding-bottom: 50px;
}
.main__funs-carousels{
    left: 8.5%;
    max-width: 1560px !important;
    width: 100%;
}
.main__funs-carousel-item:nth-of-type(1){
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/karting.png);
}
.main__funs-carousel-item:nth-of-type(2){
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/20200702-cinema-04\ 1.png);
}
.main__funs-shape{
    position: absolute;
    right: 215px;
    top: 70px;
}
.main__funs-shape1{
    position: absolute;
    left: 44%;
    bottom: -6%;
    z-index: -1;

}
.main__funs-shapeimg1{
    width: 414px;
}
.main__funs-carousel-title,
.main__funs-carousel-text,
.main__funs-carousel-descr{
    color: #fff;
}
.main__funs-carousel-title{
    font-family: var(--m-b);
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}
.main__funs-carousel-text{
    font-family: var(--m-b);
    font-size: 64px;
    line-height: 78px;
    text-transform: uppercase;
}
.main__funs-carousel-descr{
    font-family: var(--m-r);
    font-size: 24px;
    line-height: 29px;
}
.main__funs-link-icon::before{
    content: '\f101';
}
.main__funs-link{
    font-family: var(--m-b);
    font-size: 30px;
    line-height: 37px;
    background-color: var(--second-color);
    padding: 26px 75px;
    border-radius: 45px;
    color: #fff;
}
.main__funs-link:hover {
    color: #fff
}
.main__funs-button{
    bottom: -20px;
    z-index: 999;
    left: 200px;
    width: fit-content;
}
.main__funs-shapecinema{
    position: absolute;
}
.main__funs-shaperace{
    position: absolute;
    right: 0;
    bottom: 90px;
    z-index: -1;
}
.main__funs-shapes{
    min-height: 175px;
}

.main__funs-shaperace img{
    height: 350px;
    width: 700px;
}
.main__funs-shapecinema{
    position: absolute;
    left: 30px;
    top: -148px;
    z-index: -1;
}
.main__funs-shapecinema img{
    height: 304px;
    width: 402px;
}
.main__attractions-title{
    margin-top: 111px;
    margin-bottom: 15px;
}
.main__attractions-slider-item{
    margin-right: 0 !important;
    width: 100% !important;
    min-height: 870px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: 5s;
}
.main__attractions-slider-item.carousel-img{
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 94.03%), url(../images/carousel-horses-carnival-merry-go-round\ 1.png) !important;
}
.main__attractions-slider-item.attraction-img{
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 94.03%), url(../images/always-fun-see-tall-ferris-wheel-when-approaching-park-holidays-full-happy-people\ 1.png) !important;
}
.main__attractions-slider-item.smiley-img{
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 94.03%), url(../images/smiley-female-friends-having-fun-amusement-park\ 1.png) !important;
}
.main__attractions-slider-item.streaks-img{
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 94.03%), url(../images/image-streaks-color-from-fair-ride-motion\ 1.png) !important;
}
.main__attractions-slider-item.sally-img{
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 94.03%), url(../images/sally-k-Oc-gVHId6lo-unsplash\ 1.png) !important;
}
.main__attractions-slider-item.horse-img{
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 94.03%), url(../images/horse-by-carousel\ 1.png) !important;
}
.slick-slide {
    margin: 0px;
}

.slick-slide img {
    width: 100%;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: '';
}

.slick-track::after {
    clear: both;
}

.slick-track {
    padding: 1rem 0;
    display: flex !important;
    align-items: center;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}
.main__attractions-slide-title{
    font-family: var(--m-b);
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 370px;
    width: 100%;
    margin-bottom: 9px !important; 
}
.main__attractions-slide-descr{
    font-family: var(--m-m);
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;

}
.main__attractions-slider-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 870px;
    margin-bottom: 35px;
    margin-left: 30px;
}
.slider__shapes{
    z-index: 999;
    top: -25px;
}
.slider__shapes-end{
    z-index: 999;
    bottom: -30px;
    overflow: hidden;
}

.main__newscard-img{
    max-width: 352px;
    width: 100%;
    min-height: 352px;
}
.main__news-cards-block{
    grid-gap: 36px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.main__news-bigcard{
    margin-right: 45px;
}
.main__news-shape{
    position: absolute;
}
.conf1{
    top: 10px;
    left: 255px;
}
.inst-icon{
    top: 0;
    right: 175px;
}
.tg-icon{
    top: 430px;
    left: 80px;
}
.conf2{
    top: 300px;
    right: 100px;
}
.conf3{
    bottom: -110px;
    left: 275px;
}
.main__partners-content{
    margin-bottom: 369px;
}
.main__partners-brand{
    background-color: #D9D9D9;
    border-radius: 49px;
    max-width: 343px;
    width: 100%;
    position: relative;
    transition: 0.5s;
    height: 343px;
}
.main__partners-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: grayscale(1);
    transition: 0.5s;
}
.main__partners-brand:hover .main__partners-bg{
    backdrop-filter: grayscale(0);
}
.footer__location-frame{
    max-width: 740px;
    width: 100%;
}
.footer{
    background: url(../images/Copyright1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1380px;
    margin-bottom: 60px;
}
.footer__content-info{
    padding-top: 320px;
}
.footer__navbar-title,
.footer__location-title,
.footer__contacts-title{
    font-family: var(--m-b);
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-decoration: underline !important;
    color: #fff;
    margin-bottom: 23px;
}
.footer__contacts-contacts{
    align-items: flex-start;
    flex-direction: column;
}
.footer__list-link a{
    font-family: var(--m-b);
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    margin-bottom: 0 !important;
}
.footer__list-link{
    margin: 58px 0;
}
ul{
    padding-left: 0 !important;
}

.footer__contacts-info{
    display: flex;
    align-items: center;
    font-family: var(--m-r);
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 35px;
}
.footer__location-icon::after{
    content: '\f3c5';
}
.footer__number-icon::after{
    content: '\f879';
}
.footer__mail-icon::after{
    content: '\f0e0';
}
.footer__location-icon,
.footer__number-icon,
.footer__mail-icon{
    font-size: 37px;
    margin-right: 15px;
}
/* _________________________________________________________________________________________________________ */
.block-active{
    opacity: 1 !important;
    width: 30% !important;
    visibility: visible !important;
    overflow: auto;
}
.header__prenav-menu-icon{
    z-index: 10;
    position: absolute;
    top: 3px;
    left: 25px;
    font-size: 50px;
    transition: 0.3s;
    display: none;
}
.rotate-active{
    transform: rotate(450deg);
    transition: 0.5s;
}
.header__prenav-menu-icon::after{
    content: '\f0c9';
}
.header__prenav-menu-content{
    top: 75px;
    left: 0;
    background-color: #fff;
    position: fixed;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    transition: 0.3s;
    z-index: 9;
    min-height: 100%;
    height: 100%;
    white-space: nowrap;
}
.header__prenav-list-link{
    font-size: 20px;
    line-height: 24px;
    font-family: var(--m-r);
    color: #000;
}
.header__prenav-menu-item{
    margin: 40px;
}
.header__prenav-menu-location,
.header__prenav-menu-phone,
.header__prenav-menu-mail{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--m-r);
    color: #000;
}
.header__prenav-logo{
    display: none;
}
.blocks-line{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 325px;
}
.header__prenav-menu-list{
    margin-top: 70px;
}
.header__prenav-menu-contacts{
    position: absolute;
    bottom: 110px;
}